/* ESTILOS GLOBALES */
*{
	box-sizing: border-box;
}

strong, b{
	color:#bb5500;
}

ul{
	list-style-type: none;
}

body{
	margin:0px;
	font-family: 'Nunito', sans-serif;
	background-image: url(../img/fondo.jpg);
	width:1280px;
	margin: auto;
	padding:1px;
}

h2{
	text-align: center;
	color: #bb5500;
	padding-top: 30px;
}

h3{
	margin-top:0px;
	font-size: 19px;
	color:#2b7c76;
}

.banner{
	background-image: url(../img/riot_games_banner.jpg);
	background-size: cover;
	min-height: 425px;
}

h1{
	background: url(../img/logo_riot.png);
	min-height: 45px;
	background-position: center;
	background-repeat: no-repeat;
	font-size:0px;
	padding:190px;
}

nav ul{
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

nav li{
	display: inline-block;
	flex-basis: 20%;
}

nav a{
	display: block;
	text-decoration: none;
	background-color: #2b7c76;
	color: white;
	padding: 10px;
	margin: 0 20px;
	border-radius: 5px;
	border: solid 2px #9d8a45;
	font-size: 20px;

}

nav a:hover{
	background-color: #bb5500;
}

.parrafos{
	border: solid 2px #9d8a45;
    border-radius: 10px;
    border-top: none;
    border-bottom: none;
    padding: 10px 10px;
}

.ancla {
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-color: #2b7c76;
	padding: 10px;
	border-radius: 50%;
	width: 50px;
	z-index: 3;
}

.ancla:hover {
	background-color:#bb5500;
}

iframe{
	vertical-align: top;
	border: none;
}

a{
	text-decoration: none;
	color: #2b7c76;
}
/*SECTION JUEGOS*/

#juegos ul{
	padding: 10px;
	margin:0px;
	display: flex;
	height: 480px;
	font-size: 0px;
}
#juegos li{
	display: inline-block;
	height: 300px;
	padding: 82px 5px;
	transition-duration: 0.5s;
}

#juegos img{
	height:100%;
	z-index: 1;
}

#juegos li:hover{
	z-index: 2;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	border: solid 2px #9d8a45;
	border-bottom: none;
	border-right: none;
}

/*SECTION FORGE*/
  
.container {
border-radius: 5px;
border: solid 2px #9d8a45;
border-top: none;
border-right: none;
display: inline-block;
width: 55%;
padding-left: 5px;
}
  
#forge ul{
	padding: 0px;
    margin-bottom: 10px;
}

#forge ul li{
	padding: 10px;
	text-decoration: none;
}

#forge h3, p{
	padding-left: 10px;
}

/*SECTION E-SPORTS*/

figure {
    background-color: #2b7c76;
    border-radius: 5px;
    margin: auto;
    border: thin solid #9d8a45;
}

figcaption {
    padding: 0 10px 5px;
    text-align: center;
    color: whitesmoke;
    font-size: 13px;
}

.izquierda {
	float: left;
	margin-left: 1%;
}

.centro{
	display: inline-block;
    margin: 0px;
    width: 26%;
}

#e-sports ul{
	padding: 10px;
	margin: 0px;
	display: flex;
}

#e-sports li{
	padding-right: 5px;
}

/*SECTION ENTRETENIMIENTO*/

#entretenimiento ul{
	padding: 10px;
	display: flex;
    flex-wrap: wrap;
}

#entretenimiento li{
	padding: 5px;
	max-width: 50%;
	margin-bottom: 5px;
}

#entretenimiento ul li p{
	background-color: #000000ab;
	margin: 263px 5px 0px -5px;
	color: whitesmoke;
}

.estilo-ent{
	background-repeat: no-repeat;
	height: 340px;
}

#comic{
	background-image: url(../img/ent_comic.jpg);
}

#musica{
	background-image: url(../img/ent_musica.jpg);
}

#arcane{
	background-image: url(../img/ent_arcane.jpeg);
}

#merch{
	background-image: url(../img/ent_merch.jpg);
}

#live{
	background-image: url(../img/ent_live.jpg);
	margin-left: 25%;
}

/*SECTION CONTACTO - FOOTER*/

#contacto{
	text-align: center;
}

#txt-nico{
	display: inline-block;
	vertical-align: top;
	margin-left:10px;
}

#nicolas p{
	display: inline-block;
	width:490px;
	text-align: left;
}

#nicolas ul li{
	display: inline-block;
}

#nicolas a{
	text-decoration: none;
	line-height: 35px;
}

.iconos{
	padding: 25px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size:0px;
}

.linkedin{
	background-image:url(../img/linkedin.png);
}

.mail{
	background-image:url(../img/mail.png);
}

.footer_data{
	display: inline-block;
    width: 320px;
    height: 150px;
    text-align: center;
    vertical-align: bottom;
	margin-top: 30px;
}

.footer_data ul{
	padding: 0px;
}

#comunic_list li{
	padding-bottom: 20px;
}